/*This stylesheet contains the styling for the contents section*/
/*The page is purely desktop version and a mobile version will be added later*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #f1f5f7;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*Actual page styling*/

.content
{
    margin: 100px 60px 60px 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

/*The left side now*/
.contentleft iframe
{
    width: 100%;
    height: 70vh;
    margin: 50px o;
}
.contentleft-desc h2
{
    margin: 40px 0;
}
.descratings
{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.descratings .item
{
    display: flex;
}
.descratings .item p
{
    margin-right: 40px;
}
.descratings .item p i
{
    font-size: 23px;
    margin-right: 7px;
}

/*we shall now get some space from the channel name*/
.channelName
{
    margin: 40px 0;
}
/*make the right and left have a distinguishing space btwn them*/
.topchannelName
{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

/*the channel logo and name to flex*/
.topchannelNameLeft
{
    display: flex;
}
.topchannelNameLeft h2
{
    padding: 15px;
    background-color: lightblue;
    color: #000;
    margin-right: 25px;
    font-size: 30px;
    border-radius: 50%;
}

.compartmentals p
{
    margin-top: 11px;
}
.faded
{
    font-size: 15px;
    font-style: italic;
    opacity: .7;
}

/*now to the right subscribe button*/

.topChannelNameRight 
{
    margin-right: 30px;
}
.topChannelNameRight button
{
    background-color: #ff0000;
    padding: 11px;
    color: #fff;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    width: 150px;
}

/*video description now*/
.videodesc
{
    margin: 30px 70px 30px 70px;
}

/*now to making a right side styling*/
.suggestedvids
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 0 40px 0;
}
.suggestediframe iframe
{
    width: 190px;
}

.suggesteddesc h2
{
    font-size: 13px;
    margin-bottom: 10px;
}
.suggesteddesc .faded
{
    font-size: 12px;
}