/*This style sheet contains styling for the header section of our youtube mock*/
/*It is purely a desktop version but a mobile version will later be introduced*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #f1f5f7;
    position: relative;
}
h2
{
    font-size: 25px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*actual styling*/
header
{
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-bottom: 40px;
}
.nav-bar
{
    display: flex;
    padding: 20px;
}
/*Three bars*/
.threebars
{
    margin: auto 30px;
}
.threebars a
{
    text-decoration: none;
    color: #000;
}
.threebars a i
{
    font-size: 26px;
}

/*navbar-logo*/
.navbar-logo a
{
    display: flex;
    margin: auto 30px;
    text-decoration: none;
}
.navbar-logo a i
{
    color: #ff0000;
    font-size: 27px;
    margin-right: 10px;
}
.navbar-logo a p
{
    color: #000;
    font-weight: 600;
}
.navbar-logo a p sup
{
    font-style: italic;
    opacity: .7;
    font-weight: 350;
    font-size: 14px;
}

/*searchbar now*/
.navbarSearchbar
{
    margin: auto 55px;;
}
.navbarSearchbar input
{
    width: 480px;
    height: 36px;
}
.navbarSearchbar .searching
{
    padding: 4px;
    height: 36px;
    width: 70px;
    font-size: 22px;
    margin-right: 30px;
    cursor: pointer;
    margin: auto 0;
}
.navbarSearchbar .voice
{
    border-radius: 50%;
    font-size: 23px;
    padding: 7px;
    border: 0;
    margin: auto 40px;
    cursor: pointer;
}
.navbar-signin
{
    margin: auto 42px;
}
.navbar-signin button
{
    padding: 8px;
}
.navbar-signin i
{
    font-size: 18px;
    margin-right: 5px;
}